_workspaces
csharp/.vscode
csharp/Example/bin
csharp/Example/obj
csharp/Example/*.gif
cplusplus/.vscode
cplusplus/Example/*.x
cplusplus/Example/*.o
cplusplus/Example/*.gif
cplusplus/ExampleWithQt/*.x
cplusplus/ExampleWithQt/*.o
cplusplus/ExampleWithQt/*.gif

